@font-face {
	font-family:"TechFont";
	src:url("zekton_free.eot?") format("eot"),url("zekton_free.woff") format("woff"),url("zekton_free.ttf") format("truetype"),url("zekton_free.svg#ZektonFree") format("svg");
	font-weight:40px;
	font-style:normal;
}
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {

}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
body{
	font-family: 'Droid Sans', sans-serif;
}

h1 h2 h3 h4 h5 h6{
	font-family: TechFont;
}


/* Global styling */
#header{
	width: 100;
	height: 5%;
}
a:link{
	color: white;
	text-decoration: none;
	font-family: TechFont;
}
a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: none;
}

a:active{
	color: black;
	text-decoration: none;
}

.topMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topMenu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: black;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-align: center;
}
.topMenu li:hover {
    background-color: #0099cc;
	color: black;
}
.content{
	border-color: black;
	border: solid;
	box-shadow: 8px 8px lightgrey;
}

.footer{
	width: 100%;
	height: 5%;
	text-align: center;
}

.footer a:visited{
	color: black;
}

.footer a:hover{
	color: black;
}

.footer a:link{
	color: black;
}

.footer a:active{
	color: black;
}

.badges picture {

}

.quoteButton a{
	width:20px;
	height: auto;
	background-color:black;
	color: white;
}
